# Module 3 - Update Feature Group (Optional notebook)
### Module 1 is a pre-requisite for this notebook.

**Note:** Please set kernel to `Python 3 (Data Science)` and select instance to `ml.t3.medium`

---

## Contents

1. [Setup](#setup)
1. [Explore existing customer feature group and data](#explore-customer-fg)
1. [Update customer feature group](#update-customer-fg)
1. [Ingest data into customer feature group](#ingest-customer-fg)
1. [Prepare training data set to retrain model](#model-training-data)
1. [Retrain XG Boost model](#retrain-xg-boost)
1. [Test model performance against test data](#real-time-inference)

---

In this notebook, we will illustrate how to modify a feature group using boto3 API and then ingest data into modified feature group. We will cover the following aspects:

* Look at existing data from customer feature group
* Modify customer feature group to add "has_kids" feature and ingest sample data
* Verify for a customer record that data has been ingested
* Athena query for dataset extraction to prepare data set for retraining(programmatically using SageMaker SDK)
* Retrain an XGBoost model similar to what we did in the notebook `m3_nb1_model_training.ipynb`
* Test by deploying the model and predicting against a sample test record
* Cleanup resources

## Setup
<a id='setup'></a>

In [2]:
from sagemaker.feature_store.feature_group import FeatureGroup
from sagemaker.serializers import CSVSerializer
from sagemaker.inputs import TrainingInput
from sagemaker.predictor import Predictor
from datetime import datetime, timezone, date
from random import randint
import pandas as pd
import numpy as np
import subprocess
import sagemaker
import importlib
import logging
import time
import sys
import boto3
import os
sys.path.append('..')
from utilities import Utils

In [3]:
if sagemaker.__version__ < '2.48.1':
    subprocess.check_call([sys.executable, '-m', 'pip', 'install', 'sagemaker==2.48.1'])
    importlib.reload(sagemaker)

In [4]:
if boto3.__version__ < '1.24.23':
    subprocess.check_call([sys.executable, '-m', 'pip', 'install', 'boto3==1.24.23'])
    importlib.reload(boto3)

In [5]:
logger = logging.getLogger('__name__')
logger.setLevel(logging.DEBUG)
logger.addHandler(logging.StreamHandler())

In [6]:
logger.info(f'Using SageMaker version: {sagemaker.__version__}')
logger.info(f'Using Pandas version: {pd.__version__}')
logger.info(f'Using boto3 version: {boto3.__version__}')

Using SageMaker version: 2.48.1
Using Pandas version: 1.3.5
Using boto3 version: 1.26.111

In [7]:
import pprint
pretty_printer = pprint.PrettyPrinter(indent=4)

In [8]:
!mkdir ./data/retrain

mkdir: cannot create directory ‘./data/retrain’: File exists

## Essentials

In [9]:
sagemaker_session = sagemaker.Session()
role = sagemaker.get_execution_role()
default_bucket = sagemaker_session.default_bucket()
logger.info(f'Default S3 bucket = {default_bucket}')
prefix = 'sagemaker-feature-store'

Default S3 bucket = sagemaker-us-east-1-161615149547

In [10]:
region = sagemaker_session.boto_region_name

In [11]:
boto_session = boto3.Session(region_name=region)
sagemaker_runtime = boto_session.client(service_name='sagemaker', region_name=region)
featurestore_runtime = boto_session.client(service_name='sagemaker-featurestore-runtime', region_name=region)
s3 = boto_session.resource('s3')

In [12]:
def generate_event_timestamp():
    # naive datetime representing local time
    naive_dt = datetime.now()
    # take timezone into account
    aware_dt = naive_dt.astimezone()
    # time in UTC
    utc_dt = aware_dt.astimezone(timezone.utc)
    # transform to ISO-8601 format
    event_time = utc_dt.isoformat(timespec='milliseconds')
    event_time = event_time.replace('+00:00', 'Z')
    return event_time

### Explore existing feature definition and the data set
<a id='explore-customer-fg'></a>

Retrieve variables stored in previous notebooks for feature group names

In [13]:
# Retreive FG names
%store -r customers_feature_group_name
%store -r products_feature_group_name
%store -r orders_feature_group_name
logger.info(f'Customers FG: {customers_feature_group_name}')
logger.info(f'Products FG: {products_feature_group_name}')
logger.info(f'Orders FG: {orders_feature_group_name}')

Customers FG: fscw-customers-05-22-21-52
Products FG: fscw-products-05-22-21-52
Orders FG: fscw-orders-05-22-21-52

In [14]:
customers_fg = FeatureGroup(name=customers_feature_group_name, sagemaker_session=sagemaker_session)  
products_fg = FeatureGroup(name=products_feature_group_name, sagemaker_session=sagemaker_session)
orders_fg = FeatureGroup(name=orders_feature_group_name, sagemaker_session=sagemaker_session)

Verify record exists in Customer Feature Group for a random customer_id

In [15]:
customer_id =  f'C{randint(1, 10000)}'
logger.info(f'customer_id={customer_id}')

customer_id=C4346

In [16]:
feature_record = featurestore_runtime.get_record(FeatureGroupName=customers_feature_group_name, 
                                                        RecordIdentifierValueAsString=customer_id)
feature_record

{'ResponseMetadata': {'RequestId': '60552487-ef3a-46b0-8a31-8b29ac604f32',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '60552487-ef3a-46b0-8a31-8b29ac604f32',
   'content-type': 'application/json',
   'content-length': '604',
   'date': 'Mon, 22 May 2023 22:06:45 GMT'},
  'RetryAttempts': 0},
 'Record': [{'FeatureName': 'customer_id', 'ValueAsString': 'C4346'},
  {'FeatureName': 'sex', 'ValueAsString': '1'},
  {'FeatureName': 'is_married', 'ValueAsString': '1'},
  {'FeatureName': 'event_time', 'ValueAsString': '2023-05-22T14:15:56.615Z'},
  {'FeatureName': 'age_18-29', 'ValueAsString': '0'},
  {'FeatureName': 'age_30-39', 'ValueAsString': '0'},
  {'FeatureName': 'age_40-49', 'ValueAsString': '0'},
  {'FeatureName': 'age_50-59', 'ValueAsString': '0'},
  {'FeatureName': 'age_60-69', 'ValueAsString': '0'},
  {'FeatureName': 'age_70-plus', 'ValueAsString': '1'},
  {'FeatureName': 'n_days_active', 'ValueAsString': '0.821917808219178'}]}

In [17]:
describe_feature_group_result = sagemaker_runtime.describe_feature_group(
    FeatureGroupName=customers_feature_group_name
)
pretty_printer.pprint(describe_feature_group_result)

{   'CreatedBy': {   'DomainId': 'd-wguoldosy9tn',
                     'UserProfileArn': 'arn:aws:sagemaker:us-east-1:161615149547:user-profile/d-wguoldosy9tn/default-1679523110579',
                     'UserProfileName': 'default-1679523110579'},
    'CreationTime': datetime.datetime(2023, 5, 22, 21, 52, 50, 492000, tzinfo=tzlocal()),
    'EventTimeFeatureName': 'event_time',
    'FeatureDefinitions': [   {   'FeatureName': 'customer_id',
                                  'FeatureType': 'String'},
                              {'FeatureName': 'sex', 'FeatureType': 'Integral'},
                              {   'FeatureName': 'is_married',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'event_time',
                                  'FeatureType': 'String'},
                              {   'FeatureName': 'age_18-29',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'age_30-39',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'age_40-49',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'age_50-59',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'age_60-69',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'age_70-plus',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'n_days_active',
                                  'FeatureType': 'Fractional'}],
    'FeatureGroupArn': 'arn:aws:sagemaker:us-east-1:161615149547:feature-group/fscw-customers-05-22-21-52',
    'FeatureGroupName': 'fscw-customers-05-22-21-52',
    'FeatureGroupStatus': 'Created',
    'LastModifiedBy': {   'DomainId': 'd-wguoldosy9tn',
                          'UserProfileArn': 'arn:aws:sagemaker:us-east-1:161615149547:user-profile/d-wguoldosy9tn/default-1679523110579',
                          'UserProfileName': 'default-1679523110579'},
    'OfflineStoreConfig': {   'DataCatalogConfig': {   'Catalog': 'AwsDataCatalog',
                                                       'Database': 'SageMaker_FeatureStore',
                                                       'TableName': 'fscw_customers_05_22_21_52_1684792370'},
                              'DisableGlueTableCreation': False,
                              'S3StorageConfig': {   'ResolvedOutputS3Uri': 's3://sagemaker-us-east-1-161615149547/sagemaker-feature-store/161615149547/sagemaker/us-east-1/offline-store/fscw-customers-05-22-21-52-1684792370/data',
                                                     'S3Uri': 's3://sagemaker-us-east-1-161615149547/sagemaker-feature-store'},
                              'TableFormat': 'Iceberg'},
    'OfflineStoreStatus': {'Status': 'Active'},
    'OnlineStoreConfig': {'EnableOnlineStore': True},
    'OnlineStoreReadWriteType': 'ReadWrite',
    'OnlineStoreReplicas': [],
    'OnlineStoreTotalItemCount': 0,
    'OnlineStoreTotalSizeBytes': 0,
    'RecordIdentifierFeatureName': 'customer_id',
    'ResponseMetadata': {   'HTTPHeaders': {   'content-length': '2099',
                                               'content-type': 'application/x-amz-json-1.1',
                                               'date': 'Mon, 22 May 2023 '
                                                       '22:06:46 GMT',
                                               'x-amzn-requestid': 'a9f1b28d-efc6-4651-8179-b0156f5f2b3b'},
                            'HTTPStatusCode': 200,
                            'RequestId': 'a9f1b28d-efc6-4651-8179-b0156f5f2b3b',
                            'RetryAttempts': 0},
    'RoleArn': 'arn:aws:iam::161615149547:role/service-role/AmazonSageMakerServiceCatalogProductsExecutionRole'}

### Update feature group and ingest data
<a id='update-customer-fg' />

The sample product set that we have are spread out across different categories - baby products, candies, cleaning products etc. So let us assume that a customer *“having kids or not”* is defintely an indicator of them buying baby and kids products. Lets go ahead and modify the customer feature group to add this new feature.

In [18]:
# Call UpdateFeatureGroup with feature addition(s)
sagemaker_runtime.update_feature_group(
    FeatureGroupName=customers_feature_group_name,
    FeatureAdditions=[
        {"FeatureName": "has_kids", "FeatureType": "Integral"}
    ]
)

{'FeatureGroupArn': 'arn:aws:sagemaker:us-east-1:161615149547:feature-group/fscw-customers-05-22-21-52',
 'ResponseMetadata': {'RequestId': 'b326c1d0-46c0-4fb6-858c-52a252c161ad',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'b326c1d0-46c0-4fb6-858c-52a252c161ad',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '103',
   'date': 'Mon, 22 May 2023 22:06:48 GMT'},
  'RetryAttempts': 0}}

We have a sleep set for 60 seconds because the update operation could take a minute.

In [19]:
time.sleep(60)

In [20]:
describe_feature_group_result = sagemaker_runtime.describe_feature_group(
    FeatureGroupName=customers_feature_group_name
)
pretty_printer.pprint(describe_feature_group_result)

{   'CreatedBy': {   'DomainId': 'd-wguoldosy9tn',
                     'UserProfileArn': 'arn:aws:sagemaker:us-east-1:161615149547:user-profile/d-wguoldosy9tn/default-1679523110579',
                     'UserProfileName': 'default-1679523110579'},
    'CreationTime': datetime.datetime(2023, 5, 22, 21, 52, 50, 492000, tzinfo=tzlocal()),
    'EventTimeFeatureName': 'event_time',
    'FeatureDefinitions': [   {   'FeatureName': 'customer_id',
                                  'FeatureType': 'String'},
                              {'FeatureName': 'sex', 'FeatureType': 'Integral'},
                              {   'FeatureName': 'is_married',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'event_time',
                                  'FeatureType': 'String'},
                              {   'FeatureName': 'age_18-29',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'age_30-39',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'age_40-49',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'age_50-59',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'age_60-69',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'age_70-plus',
                                  'FeatureType': 'Integral'},
                              {   'FeatureName': 'n_days_active',
                                  'FeatureType': 'Fractional'},
                              {   'FeatureName': 'has_kids',
                                  'FeatureType': 'Integral'}],
    'FeatureGroupArn': 'arn:aws:sagemaker:us-east-1:161615149547:feature-group/fscw-customers-05-22-21-52',
    'FeatureGroupName': 'fscw-customers-05-22-21-52',
    'FeatureGroupStatus': 'Created',
    'LastModifiedBy': {   'DomainId': 'd-wguoldosy9tn',
                          'UserProfileArn': 'arn:aws:sagemaker:us-east-1:161615149547:user-profile/d-wguoldosy9tn/default-1679523110579',
                          'UserProfileName': 'default-1679523110579'},
    'LastModifiedTime': datetime.datetime(2023, 5, 22, 22, 6, 48, 410000, tzinfo=tzlocal()),
    'LastUpdateStatus': {'Status': 'Successful'},
    'OfflineStoreConfig': {   'DataCatalogConfig': {   'Catalog': 'AwsDataCatalog',
                                                       'Database': 'SageMaker_FeatureStore',
                                                       'TableName': 'fscw_customers_05_22_21_52_1684792370'},
                              'DisableGlueTableCreation': False,
                              'S3StorageConfig': {   'ResolvedOutputS3Uri': 's3://sagemaker-us-east-1-161615149547/sagemaker-feature-store/161615149547/sagemaker/us-east-1/offline-store/fscw-customers-05-22-21-52-1684792370/data',
                                                     'S3Uri': 's3://sagemaker-us-east-1-161615149547/sagemaker-feature-store'},
                              'TableFormat': 'Iceberg'},
    'OfflineStoreStatus': {'Status': 'Active'},
    'OnlineStoreConfig': {'EnableOnlineStore': True},
    'OnlineStoreReadWriteType': 'ReadWrite',
    'OnlineStoreReplicas': [],
    'OnlineStoreTotalItemCount': 0,
    'OnlineStoreTotalSizeBytes': 0,
    'RecordIdentifierFeatureName': 'customer_id',
    'ResponseMetadata': {   'HTTPHeaders': {   'content-length': '2229',
                                               'content-type': 'application/x-amz-json-1.1',
                                               'date': 'Mon, 22 May 2023 '
                                                       '22:07:49 GMT',
                                               'x-amzn-requestid': '4d8d13a5-a657-4b16-8103-7584dadfb6ef'},
                            'HTTPStatusCode': 200,
                            'RequestId': '4d8d13a5-a657-4b16-8103-7584dadfb6ef',
                            'RetryAttempts': 0},
    'RoleArn': 'arn:aws:iam::161615149547:role/service-role/AmazonSageMakerServiceCatalogProductsExecutionRole'}

### Prepare "has_kids" feature data and ingest data again into customer feature group. 
<a id='ingest-customer-fg' />

Verify that the feature is added to feature group before proceeding with this step. We retrieve the customer data from the csv and randomly generate 0 or 1 for "has_kids" feature and ingest into feature group

In [21]:
customers_df = pd.read_csv('./data/transformed/customers.csv')
customers_df.head(5)

,customer_id,sex,is_married,event_time,age_18-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-plus,n_days_active
0,C1,0,0,2023-05-22T14:15:48.008Z,0,0,0,1,0,0,0.026027
1,C2,1,0,2023-05-22T14:15:48.010Z,1,0,0,0,0,0,0.077397
2,C3,0,1,2023-05-22T14:15:48.013Z,0,0,0,0,1,0,0.821233
3,C4,1,1,2023-05-22T14:15:48.015Z,0,0,0,1,0,0,0.887671
4,C5,0,1,2023-05-22T14:15:48.017Z,0,1,0,0,0,0,0.265753

Use the NumPy library to generate random 1s and 0s

In [22]:
customers_df['has_kids']=np.random.randint(0, 2, customers_df.shape[0])

Drop the existing event time column and add current time as event time. These two steps are optional.

In [23]:
customers_df=customers_df.drop(['event_time'],axis=1)

In [24]:
event_timestamps = [generate_event_timestamp() for _ in range(len(customers_df))]
customers_df['event_time'] = event_timestamps
customers_df.head(5)

,customer_id,sex,is_married,age_18-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-plus,n_days_active,has_kids,event_time
0,C1,0,0,0,0,0,1,0,0,0.026027,0,2023-05-22T22:07:50.082Z
1,C2,1,0,1,0,0,0,0,0,0.077397,0,2023-05-22T22:07:50.082Z
2,C3,0,1,0,0,0,0,1,0,0.821233,1,2023-05-22T22:07:50.082Z
3,C4,1,1,0,0,0,1,0,0,0.887671,1,2023-05-22T22:07:50.082Z
4,C5,0,1,0,1,0,0,0,0,0.265753,1,2023-05-22T22:07:50.082Z

Ingest the updated data into feature group. In case ingest operation throws errors regarding feature not being present in the Feature Group, give the update operation some more time as mentioned before and try the ingest again.

In [64]:
%%time
customers_fg.ingest(data_frame=customers_df, max_processes=16, wait=True)
logger.info(f'{len(customers_df)} customer records ingested into feature group: {customers_feature_group_name}')

10000 customer records ingested into feature group: fscw-customers-05-22-21-52

CPU times: user 166 ms, sys: 194 ms, total: 359 ms
Wall time: 17.8 s

Verify online store for a specific customer_id

In [65]:
get_record_result = featurestore_runtime.get_record(
    FeatureGroupName=customers_feature_group_name,
    RecordIdentifierValueAsString=customer_id
)
pretty_printer.pprint(get_record_result)

{   'Record': [   {'FeatureName': 'customer_id', 'ValueAsString': 'C4346'},
                  {'FeatureName': 'sex', 'ValueAsString': '1'},
                  {'FeatureName': 'is_married', 'ValueAsString': '1'},
                  {   'FeatureName': 'event_time',
                      'ValueAsString': '2023-05-22T22:07:50.117Z'},
                  {'FeatureName': 'age_18-29', 'ValueAsString': '0'},
                  {'FeatureName': 'age_30-39', 'ValueAsString': '0'},
                  {'FeatureName': 'age_40-49', 'ValueAsString': '0'},
                  {'FeatureName': 'age_50-59', 'ValueAsString': '0'},
                  {'FeatureName': 'age_60-69', 'ValueAsString': '0'},
                  {'FeatureName': 'age_70-plus', 'ValueAsString': '1'},
                  {   'FeatureName': 'n_days_active',
                      'ValueAsString': '0.821917808219178'},
                  {'FeatureName': 'has_kids', 'ValueAsString': '1'}],
    'ResponseMetadata': {   'HTTPHeaders': {   'content-length': '651',
                                               'content-type': 'application/json',
                                               'date': 'Mon, 22 May 2023 '
                                                       '22:29:55 GMT',
                                               'x-amzn-requestid': 'd3da4769-a67a-4c70-9596-dd882ebc9773'},
                            'HTTPStatusCode': 200,
                            'RequestId': 'd3da4769-a67a-4c70-9596-dd882ebc9773',
                            'RetryAttempts': 0}}

Let us run Athena query to verify offline store. Note that the data ingestion into offline store could take some time since data is buffered, batched, and written into Amazon S3 within 15 minutes.

In [66]:
customers_query = customers_fg.athena_query()
customers_table = customers_query.table_name

In [67]:
output_location = f's3://{default_bucket}/{prefix}/query_results/'

In [68]:
query_string = f'SELECT * FROM "{customers_table}" limit 10'

In [69]:
customers_query.run(query_string=query_string,output_location=output_location)
customers_query.wait()
athena_df = customers_query.as_dataframe()
athena_df.head()

,write_time,api_invocation_time,is_deleted,customer_id,sex,is_married,event_time,age_18-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-plus,n_days_active,has_kids
0,2023-05-22 21:59:37.011 UTC,2023-05-22 21:54:29.000 UTC,False,C13,0,0,2023-05-22T14:15:48.033Z,0,1,0,0,0,0,0.996575,NaN
1,2023-05-22 21:59:37.011 UTC,2023-05-22 21:54:30.000 UTC,False,C37,1,0,2023-05-22T14:15:48.088Z,0,0,0,0,0,1,0.715753,NaN
2,2023-05-22 21:59:37.011 UTC,2023-05-22 21:54:30.000 UTC,False,C4393,0,0,2023-05-22T14:15:56.688Z,0,0,0,0,0,1,0.639041,NaN
3,2023-05-22 21:59:37.011 UTC,2023-05-22 21:54:30.000 UTC,False,C7506,0,0,2023-05-22T14:16:02.756Z,0,0,0,0,0,1,0.865753,NaN
4,2023-05-22 21:59:37.011 UTC,2023-05-22 21:54:30.000 UTC,False,C4396,1,1,2023-05-22T14:15:56.693Z,0,1,0,0,0,0,0.464384,NaN

As we see from the above step, it is very easy now to modify an existing feature group, add new features, and ingest data.

In [70]:
customers_df.to_csv('./data/transformed/customers_has_kids.csv', index=False)

### Verify offline store in Athena Console

If it is for the first time we are launching Athena in AWS console we need to click on `Get Started` button and then before we run the first query we need to set up a query results location in Amazon S3. 

After setting the query results location, on the left panel we need to select the `AwsDataCatalog` as Data source and the `sagemaker_featurestore` as Database.

We can run now run a query for the offline feature store data in Athena. To select the entries from the orders feature group we use the following SQL query. You will need to replace the orders table name with the corresponded value from your environment.

```sql
select * from "<customers-table>"
limit 100
```

![Customers offline data](./images/m3_nb4_athena_query.png "Customers Offline Data")

## Optional steps
From here on in this notebook, we use the data that has the new feature "has_kids" and train the model again with the data, deploy the model and test it against sample data. The intention is not to prove that model performance improves (mind you this is sample data!) but to show a real life use case where modified feature groups can be used for training.

### Prepare model training dataset
<a id='model-training-data' />

Prepare train, test and validation data

In [71]:
products_query = products_fg.athena_query()
products_table = products_query.table_name

orders_query = orders_fg.athena_query()
orders_table = orders_query.table_name

To prepare training, validation and test data, we run an Athena query against offline feature store and get records for which "has_kids" has been populated. Why do we do this? Because offline feature store has historical records, we want only the latest ingested data that has "has_kids" populated for retraining our model.

In [72]:
query_string = f'SELECT * FROM "{customers_table}", "{products_table}", "{orders_table}" ' \
               f'WHERE ("{orders_table}"."customer_id" = "{customers_table}"."customer_id") ' \
               f'AND ("{orders_table}"."product_id" = "{products_table}"."product_id")' \
               f'AND ("{customers_table}"."has_kids" is not null)'
query_string

'SELECT * FROM "fscw_customers_05_22_21_52_1684792370", "fscw_products_05_22_21_52_1684792393", "fscw_orders_05_22_21_52_1684792420" WHERE ("fscw_orders_05_22_21_52_1684792420"."customer_id" = "fscw_customers_05_22_21_52_1684792370"."customer_id") AND ("fscw_orders_05_22_21_52_1684792420"."product_id" = "fscw_products_05_22_21_52_1684792393"."product_id")AND ("fscw_customers_05_22_21_52_1684792370"."has_kids" is not null)'

In [73]:
orders_query.run(query_string=query_string, output_location=output_location)
orders_query.wait()
joined_df = orders_query.as_dataframe()
joined_df.head()

,write_time,api_invocation_time,is_deleted,customer_id,sex,is_married,event_time,age_18-29,age_30-39,age_40-49,...,write_time.2,api_invocation_time.2,is_deleted.2,order_id,customer_id.1,product_id.1,purchase_amount,is_reordered,event_time.2,n_days_since_last_purchase
0,2023-05-22 22:12:49.367 UTC,2023-05-22 22:07:51.000 UTC,False,C3,0,1,2023-05-22T22:07:50.082Z,0,0,0,...,2023-05-22 22:01:07.695 UTC,2023-05-22 21:58:18.000 UTC,False,O24315,C3,P8252,0.794257,1,2023-05-22T14:23:26.133Z,0.470930
1,2023-05-22 22:12:49.367 UTC,2023-05-22 22:07:51.000 UTC,False,C3,0,1,2023-05-22T22:07:50.082Z,0,0,0,...,2023-05-22 22:00:57.702 UTC,2023-05-22 21:57:32.000 UTC,False,O41122,C3,P186,0.987921,1,2023-05-22T14:23:27.412Z,0.670543
2,2023-05-22 22:12:49.367 UTC,2023-05-22 22:07:51.000 UTC,False,C3,0,1,2023-05-22T22:07:50.082Z,0,0,0,...,2023-05-22 22:00:57.813 UTC,2023-05-22 21:57:40.000 UTC,False,O22783,C3,P6721,0.510297,1,2023-05-22T14:23:26.040Z,0.377907
3,2023-05-22 22:12:49.367 UTC,2023-05-22 22:07:51.000 UTC,False,C3,0,1,2023-05-22T22:07:50.082Z,0,0,0,...,2023-05-22 22:00:57.921 UTC,2023-05-22 21:56:50.000 UTC,False,O52027,C3,P12115,0.914158,0,2023-05-22T14:23:28.191Z,0.432171
4,2023-05-22 22:12:49.367 UTC,2023-05-22 22:07:51.000 UTC,False,C3,0,1,2023-05-22T22:07:50.082Z,0,0,0,...,2023-05-22 22:01:01.613 UTC,2023-05-22 21:58:19.000 UTC,False,O92924,C3,P2175,0.553069,1,2023-05-22T14:23:31.531Z,0.364341

In [74]:
joined_df.shape

(99986, 50)

In [75]:
model_df = joined_df.drop(['order_id', 
                           'customer_id', 
                           'product_id', 
                           'event_time', 
                           'write_time', 
                           'api_invocation_time', 
                           'is_deleted', 
                           'product_id.1', 
                           'event_time.1', 
                           'write_time.1', 
                           'api_invocation_time.1', 
                           'is_deleted.1', 
                           'customer_id.1', 
                           'purchase_amount',
                           'event_time.2', 
                           'n_days_since_last_purchase',
                           'write_time.2', 
                           'api_invocation_time.2', 
                           'is_deleted.2'], axis=1)

In [76]:
model_df.head(5)

,sex,is_married,age_18-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-plus,n_days_active,has_kids,...,category_ice_cream_ice,category_juice_nectars,category_packaged_cheese,category_refrigerated,category_soup_broth_bouillon,category_spices_seasonings,category_tea,category_vitamins_supplements,category_yogurt,is_reordered
0,0,1,0,0,0,0,1,0,0.821233,1,...,0,0,0,0,0,1,0,0,0,1
1,0,1,0,0,0,0,1,0,0.821233,1,...,0,0,0,0,0,0,0,0,0,1
2,0,1,0,0,0,0,1,0,0.821233,1,...,0,0,0,0,1,0,0,0,0,1
3,0,1,0,0,0,0,1,0,0.821233,1,...,0,0,0,1,0,0,0,0,0,0
4,0,1,0,0,0,0,1,0,0.821233,1,...,0,0,0,0,0,0,0,0,0,1

In [77]:
first_column = model_df.pop('is_reordered')
model_df.insert(0, 'is_reordered', first_column)
model_df.head()

,is_reordered,sex,is_married,age_18-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-plus,n_days_active,...,category_hair_care,category_ice_cream_ice,category_juice_nectars,category_packaged_cheese,category_refrigerated,category_soup_broth_bouillon,category_spices_seasonings,category_tea,category_vitamins_supplements,category_yogurt
0,1,0,1,0,0,0,0,1,0,0.821233,...,0,0,0,0,0,0,1,0,0,0
1,1,0,1,0,0,0,0,1,0,0.821233,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,0,0,0,1,0,0.821233,...,0,0,0,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0,1,0,0.821233,...,0,0,0,0,1,0,0,0,0,0
4,1,0,1,0,0,0,0,1,0,0.821233,...,0,0,0,0,0,0,0,0,0,0

In [78]:
model_df.to_csv('./data/retrain/transformed_has_kids.csv', index=False)

### Retrain the XGBoost model with the update feature group
<a id='retrain-xg-boost' />

Now lets train the model again with this new data set

In [79]:
train_df, validation_df, test_df = np.split(model_df.sample(frac=1, random_state=123), [int(.7*len(model_df)), int(.9*len(model_df))])

In [80]:
train_df.shape

(69990, 31)

In [81]:
validation_df.shape

(19997, 31)

In [82]:
test_df.shape

(9999, 31)

Store the train, validation and test data locally and i

In [83]:
train_df.to_csv('./data/retrain/train.csv', index=False)
validation_df.to_csv('./data/retrain/validation.csv', index=False)
test_df.to_csv('./data/retrain/test.csv', index=False)

In [84]:
s3.Bucket(default_bucket).Object(os.path.join(prefix, 'retrain/train.csv')).upload_file('./data/retrain/train.csv')
s3.Bucket(default_bucket).Object(os.path.join(prefix, 'retrain/validation.csv')).upload_file('./data/retrain/validation.csv')
s3.Bucket(default_bucket).Object(os.path.join(prefix, 'retrain/test.csv')).upload_file('./data/retrain/test.csv')

In [85]:
train_set_location = 's3://{}/{}/retrain/'.format(default_bucket, prefix)
validation_set_location = 's3://{}/{}/retrain/'.format(default_bucket, prefix)
test_set_location = 's3://{}/{}/retrain/'.format(default_bucket, prefix)

In [86]:
train_set_pointer = TrainingInput(s3_data=train_set_location, content_type='csv')
validation_set_pointer = TrainingInput(s3_data=validation_set_location, content_type='csv')
test_set_pointer = TrainingInput(s3_data=test_set_location, content_type='csv')

In [87]:
container_uri = sagemaker.image_uris.retrieve(region=boto_session.region_name, 
                                              framework='xgboost', 
                                              version='1.0-1', 
                                              image_scope='training')

In [88]:
xgb = sagemaker.estimator.Estimator(image_uri=container_uri,
                                    role=role, 
                                    instance_count=2, 
                                    instance_type='ml.m5.xlarge',
                                    output_path='s3://{}/{}/model-artifacts'.format(default_bucket, prefix),
                                    sagemaker_session=sagemaker_session,
                                    base_job_name='reorder-classifier')

xgb.set_hyperparameters(objective='binary:logistic',
                        num_round=100)

In [89]:
xgb.fit({'train': train_set_pointer, 'validation': validation_set_pointer})

2023-05-22 22:31:25 Starting - Starting the training job...ProfilerReport-1684794685: InProgress
...
2023-05-22 22:32:24 Starting - Preparing the instances for training......
2023-05-22 22:33:26 Downloading - Downloading input data...
2023-05-22 22:33:56 Training - Downloading the training image...
2023-05-22 22:34:16 Training - Training image download completed. Training in progress..[2023-05-22 22:34:27.856 ip-10-0-155-106.ec2.internal:7 INFO utils.py:27] RULE_JOB_STOP_SIGNAL_FILENAME: None
INFO:sagemaker-containers:Imported framework sagemaker_xgboost_container.training
INFO:sagemaker-containers:Failed to parse hyperparameter objective value binary:logistic to Json.
Returning the value itself
INFO:sagemaker-containers:No GPUs detected (normal if no gpus installed)
INFO:sagemaker_xgboost_container.training:Running XGBoost Sagemaker in algorithm mode
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Distributed node training with 2 hosts: ['algo-1', 'algo-2']
INFO:RabitTracker:start listen on algo-1:9099
INFO:RabitContextManager:Rabit slave environment: {'DMLC_TRACKER_URI': 'algo-1', 'DMLC_TRACKER_PORT': 9099}
INFO:RabitContextManager:Connected to RabitTracker.
INFO:RabitTracker:No data received from connection ('10.0.155.106', 60226). Closing.
INFO:RabitTracker:No data received from connection ('10.0.146.170', 33268). Closing.
INFO:RabitTracker:Recieve start signal from 10.0.146.170; assign rank 0
INFO:RabitTracker:Recieve start signal from 10.0.155.106; assign rank 1
INFO:RabitTracker:@tracker All of 2 nodes getting started
INFO:RabitTracker:@tracker All nodes finishes job
INFO:RabitTracker:@tracker 0.17424798011779785 secs between node start and job finish
INFO:RabitTracker:start listen on algo-1:9100
INFO:RabitContextManager:Rabit slave environment: {'DMLC_TRACKER_URI': 'algo-1', 'DMLC_TRACKER_PORT': 9100}
INFO:RabitContextManager:Connected to RabitTracker.
INFO:RabitTracker:No data received from connection ('10.0.155.106', 56654). Closing.
INFO:RabitTracker:No data received from connection ('10.0.146.170', 54166). Closing.
[2023-05-22 22:34:27.529 ip-10-0-146-170.ec2.internal:7 INFO utils.py:27] RULE_JOB_STOP_SIGNAL_FILENAME: None
INFO:sagemaker-containers:Imported framework sagemaker_xgboost_container.training
INFO:sagemaker-containers:Failed to parse hyperparameter objective value binary:logistic to Json.
Returning the value itself
INFO:sagemaker-containers:No GPUs detected (normal if no gpus installed)
INFO:sagemaker_xgboost_container.training:Running XGBoost Sagemaker in algorithm mode
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Distributed node training with 2 hosts: ['algo-1', 'algo-2']
INFO:RabitContextManager:Failed to connect to RabitTracker on attempt 0
INFO:RabitContextManager:Sleeping for 3 sec before retrying
INFO:RabitContextManager:Connected to RabitTracker.
INFO:RabitContextManager:Failed to connect to RabitTracker on attempt 0
INFO:RabitContextManager:Sleeping for 3 sec before retrying
INFO:RabitContextManager:Connected to RabitTracker.
INFO:root:Train matrix has 99989 rows
INFO:root:Validation matrix has 99989 rows
INFO:RabitTracker:Recieve start signal from 10.0.146.170; assign rank 0
INFO:RabitTracker:Recieve start signal from 10.0.155.106; assign rank 1
INFO:root:Train matrix has 99989 rows
INFO:RabitTracker:@tracker All of 2 nodes getting started
INFO:root:Validation matrix has 99989 rows
INFO:RabitTracker:[0]#011train-error:0.33086#011validation-error:0.33086
INFO:RabitTracker:[1]#011train-error:0.33084#011validation-error:0.33084
INFO:RabitTracker:[2]#011train-error:0.33097#011validation-error:0.33097
INFO:RabitTracker:[3]#011train-error:0.33101#011validation-error:0.33101
INFO:RabitTracker:[4]#011train-error:0.33102#011validation-error:0.33102
INFO:RabitTracker:[5]#011train-error:0.33098#011validation-error:0.33098
INFO:RabitTracker:[6]#011train-error:0.33093#011validation-error:0.33093
INFO:RabitTracker:[7]#011train-error:0.33090#011validation-error:0.33090
INFO:RabitTracker:[8]#011train-error:0.33094#011validation-error:0.33094
INFO:RabitTracker:[9]#011train-error:0.33095#011validation-error:0.33095
INFO:RabitTracker:[10]#011train-error:0.33095#011validation-error:0.33095
INFO:RabitTracker:[11]#011train-error:0.33087#011validation-error:0.33087
INFO:RabitTracker:[12]#011train-error:0.33087#011validation-error:0.33087
INFO:RabitTracker:[13]#011train-error:0.33089#011validation-error:0.33089
INFO:RabitTracker:[14]#011train-error:0.33090#011validation-error:0.33090
INFO:RabitTracker:[15]#011train-error:0.33082#011validation-error:0.33082
INFO:RabitTracker:[16]#011train-error:0.33077#011validation-error:0.33077
INFO:RabitTracker:[17]#011train-error:0.33072#011validation-error:0.33072
INFO:RabitTracker:[18]#011train-error:0.33071#011validation-error:0.33071
INFO:RabitTracker:[19]#011train-error:0.33067#011validation-error:0.33067
INFO:RabitTracker:[20]#011train-error:0.33061#011validation-error:0.33061
INFO:RabitTracker:[21]#011train-error:0.33057#011validation-error:0.33057
INFO:RabitTracker:[22]#011train-error:0.33050#011validation-error:0.33050
INFO:RabitTracker:[23]#011train-error:0.33047#011validation-error:0.33047
INFO:RabitTracker:[24]#011train-error:0.33041#011validation-error:0.33041
INFO:RabitTracker:[25]#011train-error:0.33039#011validation-error:0.33039
INFO:RabitTracker:[26]#011train-error:0.33032#011validation-error:0.33032
INFO:RabitTracker:[27]#011train-error:0.33026#011validation-error:0.33026
INFO:RabitTracker:[28]#011train-error:0.33026#011validation-error:0.33026
INFO:RabitTracker:[29]#011train-error:0.33024#011validation-error:0.33024
INFO:RabitTracker:[30]#011train-error:0.33020#011validation-error:0.33020
INFO:RabitTracker:[31]#011train-error:0.33010#011validation-error:0.33010
INFO:RabitTracker:[32]#011train-error:0.33008#011validation-error:0.33008
INFO:RabitTracker:[33]#011train-error:0.33007#011validation-error:0.33007
INFO:RabitTracker:[34]#011train-error:0.33003#011validation-error:0.33003
INFO:RabitTracker:[35]#011train-error:0.33003#011validation-error:0.33003
INFO:RabitTracker:[36]#011train-error:0.32991#011validation-error:0.32991
INFO:RabitTracker:[37]#011train-error:0.32985#011validation-error:0.32985
INFO:RabitTracker:[38]#011train-error:0.32973#011validation-error:0.32973
INFO:RabitTracker:[39]#011train-error:0.32959#011validation-error:0.32959
INFO:RabitTracker:[40]#011train-error:0.32955#011validation-error:0.32955
INFO:RabitTracker:[41]#011train-error:0.32956#011validation-error:0.32956
INFO:RabitTracker:[42]#011train-error:0.32954#011validation-error:0.32954
INFO:RabitTracker:[43]#011train-error:0.32951#011validation-error:0.32951
INFO:RabitTracker:[44]#011train-error:0.32946#011validation-error:0.32946
INFO:RabitTracker:[45]#011train-error:0.32950#011validation-error:0.32950
INFO:RabitTracker:[46]#011train-error:0.32934#011validation-error:0.32934
INFO:RabitTracker:[47]#011train-error:0.32929#011validation-error:0.32929
INFO:RabitTracker:[48]#011train-error:0.32926#011validation-error:0.32926
INFO:RabitTracker:[49]#011train-error:0.32901#011validation-error:0.32901
INFO:RabitTracker:[50]#011train-error:0.32886#011validation-error:0.32886
INFO:RabitTracker:[51]#011train-error:0.32886#011validation-error:0.32886
INFO:RabitTracker:[52]#011train-error:0.32889#011validation-error:0.32889
INFO:RabitTracker:[53]#011train-error:0.32879#011validation-error:0.32879
INFO:RabitTracker:[54]#011train-error:0.32882#011validation-error:0.32882
INFO:RabitTracker:[55]#011train-error:0.32868#011validation-error:0.32868
INFO:RabitTracker:[56]#011train-error:0.32862#011validation-error:0.32862
INFO:RabitTracker:[57]#011train-error:0.32850#011validation-error:0.32850
INFO:RabitTracker:[58]#011train-error:0.32845#011validation-error:0.32845
INFO:RabitTracker:[59]#011train-error:0.32833#011validation-error:0.32833
INFO:RabitTracker:[60]#011train-error:0.32826#011validation-error:0.32826
INFO:RabitTracker:[61]#011train-error:0.32820#011validation-error:0.32820
INFO:RabitTracker:[62]#011train-error:0.32816#011validation-error:0.32816
INFO:RabitTracker:[63]#011train-error:0.32806#011validation-error:0.32806
INFO:RabitTracker:[64]#011train-error:0.32779#011validation-error:0.32779
INFO:RabitTracker:[65]#011train-error:0.32775#011validation-error:0.32775
INFO:RabitTracker:[66]#011train-error:0.32776#011validation-error:0.32776
INFO:RabitTracker:[67]#011train-error:0.32758#011validation-error:0.32758
INFO:RabitTracker:[68]#011train-error:0.32756#011validation-error:0.32756
INFO:RabitTracker:[69]#011train-error:0.32749#011validation-error:0.32749
INFO:RabitTracker:[70]#011train-error:0.32743#011validation-error:0.32743
INFO:RabitTracker:[71]#011train-error:0.32738#011validation-error:0.32738
INFO:RabitTracker:[72]#011train-error:0.32731#011validation-error:0.32731
INFO:RabitTracker:[73]#011train-error:0.32721#011validation-error:0.32721
INFO:RabitTracker:[74]#011train-error:0.32722#011validation-error:0.32722
INFO:RabitTracker:[75]#011train-error:0.32710#011validation-error:0.32710
INFO:RabitTracker:[76]#011train-error:0.32709#011validation-error:0.32709
INFO:RabitTracker:[77]#011train-error:0.32688#011validation-error:0.32688
INFO:RabitTracker:[78]#011train-error:0.32676#011validation-error:0.32676
INFO:RabitTracker:[79]#011train-error:0.32661#011validation-error:0.32661
INFO:RabitTracker:[80]#011train-error:0.32658#011validation-error:0.32658
INFO:RabitTracker:[81]#011train-error:0.32648#011validation-error:0.32648
INFO:RabitTracker:[82]#011train-error:0.32635#011validation-error:0.32635
INFO:RabitTracker:[83]#011train-error:0.32628#011validation-error:0.32628
INFO:RabitTracker:[84]#011train-error:0.32617#011validation-error:0.32617
INFO:RabitTracker:[85]#011train-error:0.32609#011validation-error:0.32609
INFO:RabitTracker:[86]#011train-error:0.32605#011validation-error:0.32605
INFO:RabitTracker:[87]#011train-error:0.32589#011validation-error:0.32589
INFO:RabitTracker:[88]#011train-error:0.32577#011validation-error:0.32577
INFO:RabitTracker:[89]#011train-error:0.32569#011validation-error:0.32569
INFO:RabitTracker:[90]#011train-error:0.32556#011validation-error:0.32556
INFO:RabitTracker:[91]#011train-error:0.32558#011validation-error:0.32558
INFO:RabitTracker:[92]#011train-error:0.32546#011validation-error:0.32546
INFO:RabitTracker:[93]#011train-error:0.32532#011validation-error:0.32532
INFO:RabitTracker:[94]#011train-error:0.32517#011validation-error:0.32517
INFO:RabitTracker:[95]#011train-error:0.32519#011validation-error:0.32519
INFO:RabitTracker:[96]#011train-error:0.32514#011validation-error:0.32514
INFO:RabitTracker:[97]#011train-error:0.32504#011validation-error:0.32504
INFO:RabitTracker:[98]#011train-error:0.32486#011validation-error:0.32486
INFO:RabitTracker:[99]#011train-error:0.32484#011validation-error:0.32484
INFO:RabitTracker:@tracker All nodes finishes job
INFO:RabitTracker:@tracker 30.588939905166626 secs between node start and job finish

2023-05-22 22:35:29 Uploading - Uploading generated training model
2023-05-22 22:35:29 Completed - Training job completed
Training seconds: 224
Billable seconds: 224

In [90]:
# Saving training job information to be used in subsequent modeules
training_job_info = xgb.latest_training_job.describe()
if training_job_info != None :
    training_jobName = training_job_info["TrainingJobName"]
    %store training_jobName

Stored 'training_jobName' (str)

In [91]:
xgb_predictor = xgb.deploy(initial_instance_count=2,
                           instance_type='ml.m5.xlarge')

------!

In [92]:
# Saving endpoint name to be used in subsequent modules
endpoint_name = xgb_predictor.endpoint_name
%store endpoint_name

Stored 'endpoint_name' (str)

### Real time inference using the deployed endpoint
<a id='real-time-inference' />

Lets get a record from test data and test the inference.

In [93]:
csv_serializer = CSVSerializer()
endpoint_name = xgb_predictor.endpoint_name
predictor = Predictor(endpoint_name=endpoint_name, 
                      serializer=csv_serializer)

In [94]:
test_df = pd.read_csv('./data/retrain/test.csv')
record = test_df.sample(1)
record

,is_reordered,sex,is_married,age_18-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-plus,n_days_active,...,category_hair_care,category_ice_cream_ice,category_juice_nectars,category_packaged_cheese,category_refrigerated,category_soup_broth_bouillon,category_spices_seasonings,category_tea,category_vitamins_supplements,category_yogurt
5980,1,0,1,0,0,1,0,0,0,0.031507,...,0,0,0,1,0,0,0,0,0,0

In [95]:
test_df = pd.read_csv('./data/retrain/test.csv')
test_df

,is_reordered,sex,is_married,age_18-29,age_30-39,age_40-49,age_50-59,age_60-69,age_70-plus,n_days_active,...,category_hair_care,category_ice_cream_ice,category_juice_nectars,category_packaged_cheese,category_refrigerated,category_soup_broth_bouillon,category_spices_seasonings,category_tea,category_vitamins_supplements,category_yogurt
0,0,1,0,0,0,0,0,0,1,0.862329,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,1,0,0,0,0,0,0.288356,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,1,0,0.288356,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,0,0,0,0.352055,...,0,0,1,0,0,0,0,0,0,0
4,1,1,0,0,0,1,0,0,0,0.574658,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,0,0,0,0,1,0,0,0,0.341781,...,0,0,0,0,0,0,0,0,0,0
9995,1,1,1,1,0,0,0,0,0,0.745205,...,0,0,0,0,0,0,0,0,0,1
9996,0,0,1,0,0,0,0,0,1,0.991781,...,0,0,1,0,0,0,0,0,0,0
9997,0,1,1,0,1,0,0,0,0,0.729452,...,0,0,0,1,0,0,0,0,0,0
9998,1,1,0,0,0,0,0,1,0,0.515068,...,0,0,0,0,0,0,0,0,0,0

In [96]:
X = record.values[0]
payload = X[1:]
payload

array([0.        , 1.        , 0.        , 0.        , 1.        ,
       0.        , 0.        , 0.        , 0.03150685, 1.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 1.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [97]:
%%time

predicted_class_prob = predictor.predict(payload).decode('utf-8')
logger.info(f'Predicted calss probability {predicted_class_prob}')
if float(predicted_class_prob) < 0.5:
    logger.info('Prediction (y) = Will not reorder')
else:
    logger.info('Prediction (y) = Will reorder')

Predicted calss probability 0.7311009168624878
Prediction (y) = Will reorder

CPU times: user 14.7 ms, sys: 0 ns, total: 14.7 ms
Wall time: 112 ms

### Cleanup

Now that we have seen how features can be added to feature groups, it is time to delete unwated resources like endpoints to not incur charges

In [ ]:
describe_feature_group_result = sagemaker_runtime.describe_feature_group(
    FeatureGroupName=customers_feature_group_name
)
pretty_printer.pprint(describe_feature_group_result)

Delete the endpoint

In [ ]:
response = sagemaker_runtime.describe_endpoint_config(EndpointConfigName=endpoint_name)
model_name = response['ProductionVariants'][0]['ModelName']
model_name

In [ ]:
sagemaker_runtime.delete_model(ModelName=model_name)

In [ ]:
sagemaker_runtime.delete_endpoint(EndpointName=endpoint_name)

In [ ]:
sagemaker_runtime.delete_endpoint_config(EndpointConfigName=endpoint_name)